.card-image2{
  text-align: center !important;
}

.image2{
  display: inline-block !important;

}

.image-only2{
  width: 55%;
  height: 55%;
  border: 1px solid black !important;
}
.padding-div{
  padding-left: 10px !important;
}
