.options{
  text-align: center !important;
}

.icon{

  font-size: 100px !important;

}

.icon:hover{
  cursor: pointer !important;
  transform: rotateY(180deg);
  color: sienna !important;
  // transform: rotateY(180deg);

}

.title{
  font-family:fantasy !important;
  font-style: italic !important;
  font-weight: bold !important;

}

.alert{
  // background: darkgreen;
  font-size: 20px !important;
}














