<div style="background: #ECECEC;padding:30px;">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8">
      <nz-card  >

        <button class="ico-buttons" [nzBlock]="true" nz-button nzType="primary"><i nz-icon nzType="user" class="ico"></i></button>
        <nz-divider nzText="Mange User Accounts"></nz-divider>

      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card >

        <button class="ico-buttons" [nzBlock]="true" nz-button nzType="primary"><i class="ico" nz-icon nzType="usergroup-add"></i></button>
        <nz-divider nzText="Mange User Groups"></nz-divider>

      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card >

        <button class="ico-buttons" [nzBlock]="true" nz-button nzType="primary"><i class="ico" nz-icon nzType="setting"></i></button>
        <nz-divider nzText="Settings"></nz-divider>

      </nz-card>
    </div>
  </div>
</div>

<br>

<div style="background: #ECECEC;padding:30px;">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Card title">
        <p>Card content</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Card title">
        <p>Card content</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Card title">
        <p>Card content</p>
      </nz-card>
    </div>
  </div>
</div>
