<div nz-row>

  <div nz-col nzXs="3" class="option" nzSm="3" nzMd="3" nzLg="3" nzXl="3">

    <i nz-icon (click)='backToHome()' class='back-home' nzType="img:left"></i>


  </div>

  <div nz-col nzXs="18" class="option" nzSm="18" nzMd="18" nzLg="18" nzXl="18">

    <i nz-icon class='icon' nzType="img:Group"></i>
    <nz-divider class="title" nzText="Mange Customer Groups"></nz-divider>

  </div>

  <div nz-col nzXs="3" class="option" nzSm="3" nzMd="3" nzLg="3" nzXl="3">

    <i nz-icon (click)='backToMain()' class='back-home' nzType="img:page-home"></i>

  </div>


</div>

<div nz-row>

  <form nz-form [formGroup]="customerGroupFb" >



  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12">


    <nz-form-item class="form-item">
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="customerGroupNo">Customer Group No</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="The input is not valid Customer Group No !">
        <input style="color: brown !important;" nz-input formControlName='customerGroupNo' id="customerGroupNo" disabled="true" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="customerGroupName">Cus Group Name</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="The input is not valid Customer Group Name !">
        <input nz-input formControlName='customerGroupName' id="customerGroupName" />
      </nz-form-control>
    </nz-form-item>


  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="12" nzXl="12">

    <nz-form-item class="form-item">
      <nz-form-label [nzSm]="8" [nzXs]="24"  nzFor="description">Description</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="The input is not valid Description!">
        <input nz-input formControlName='description'  id="description" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-item">
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="isActive">Status</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="The input is not valid Status !">


        <nz-radio-group formControlName='isActive' >
          <label nz-radio nzValue="A">Active</label>
          <label nz-radio nzValue="I">Inactive</label>
        </nz-radio-group>


      </nz-form-control>
    </nz-form-item>



  </div>
</form>
</div>

<!-- {{customerGroupFb.value|json}}
<br>
{{customerGroupFb.valid}} -->


<nz-divider class="title"></nz-divider>

<div nz-row>


  <div nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="18" nzXl="18">

  </div>
  <div nz-col nzXs="24" style="padding: 3px !important;" nzSm="24" nzMd="3" nzLg="3" nzXl="3">

  <button [disabled]='!customerGroupFb.valid'  (click)='createNewCustomerGroup()' nzBlock ='true' nz-button nzType="primary"><i nz-icon nzType="img:save"></i>{{saveButtonText}}</button>


  </div>
  <div nz-col nzXs="24" style="padding: 3px !important;" nzSm="24" nzMd="3" nzLg="3" nzXl="3">

    <button  (click)='clear()' nzBlock ='true' nz-button nzType="default"><i nz-icon nzType="img:clear"></i>Clear</button>

  </div>
</div>


<nz-divider class="title" nzText="Existing Customer Groups"></nz-divider>

<div nz-row>

  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">

    <nz-table #nzTable [nzData]="getAllCusGroup" nzPageSize =3>
      <thead>
        <tr>
          <th nzCustomFilter> Customer Group No </th>
          <th>Customer Group Name </th>
          <th   >Description</th>
          <th   >Status</th>

        </tr>
      </thead>
      <tbody>
        <tr style="cursor: pointer !important;" *ngFor="let data of nzTable.data" (click)='getRowData(data)'>
          <td>{{ data.customerGroupNo }}</td>
          <td>{{ data.customerGroupName }}</td>
          <td>{{ data.description }}</td>
          <td>{{ data.isActive==='A'? "Active":"Inactive"}}</td>

        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" />

        <button nz-button nzSize="small" >Reset</button>
      </div>
    </nz-dropdown-menu>



  </div>

</div>
